body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pizza-card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.price {
    font-weight: bold;
    color: green;
}

button {
    padding: 8px 12px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}
